<div class="featured-product-container {% if mobile %}mobile-only{% else %}hide-mobile{% endif %}">
  {% if mobile %}
    <div class="featured-product-collapse">
      <h4 class="headers-9">Featured Product</h4>
      {% render 'icon' with 'down-arrow' %}
    </div>
  {% else %}
    <h4 class="headers-9">Featured Product</h4>
  {% endif %}
  <a href="{{ featured_product.url }}" class="featured-product">
    {{ featured_product_img | image_url: width: 80 | image_tag }}
    
    <div class="featured-product-title-wrapper">
      <h3 class="headers-6">{{ featured_product.title }}</h3>
      <p class="italic-subheaders-6">{{ featured_product.metafields.descriptors.subtitle }}</p>
    </div>
  </a>
</div>

{% if mobile %}
<script>
  let featuredProductCollapse = document.querySelector('.featured-product-collapse');
  let featuredProductContainer = document.querySelector('.featured-product-container.mobile-only');

  featuredProductCollapse.addEventListener('click', () => {
    console.log('clicked')
    featuredProductContainer.classList.toggle('collapsed');
  });
</script>
{% endif %}
