<span class="icon" aria-hidden="true">
    {% case icon %}
        {% when 'plus' %}
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="8" x2="16" y2="8" stroke="#402650" stroke-width="2"/>
                <line x1="8" y1="16" x2="8" y2="4.37114e-08" stroke="#402650" stroke-width="2"/>
            </svg>
        {% when 'thin-plus' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path d="M5 1V5M5 9V5M5 5H1M5 5H9" stroke="#402650" stroke-linecap="round"/>
            </svg>
        {% when 'play' %}
            <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle fill="#ffffff" transform="matrix(0.019043002277612686, 0, 0, 0.01767200231552124, -8.912368774414062, -3.5746450424194336)" cx="892.123" cy="655.953" r="222.564"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8ZM6.47886 4.99589C6.67895 4.8888 6.92175 4.90054 7.11058 5.02643L10.8029 7.48797C10.9741 7.6021 11.0769 7.79425 11.0769 8C11.0769 8.20576 10.9741 8.3979 10.8029 8.51203L7.11058 10.9736C6.92175 11.0995 6.67895 11.1112 6.47886 11.0041C6.27876 10.897 6.15385 10.6885 6.15385 10.4615V5.53846C6.15385 5.31151 6.27876 5.10298 6.47886 4.99589Z" fill="#412E55" transform="matrix(1, 0, 0, 1, 8.881784197001252e-16, 0)"/>
            </svg>
        {% when 'pause' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 10 14" fill="none">
                <rect width="3" height="14" rx="1" fill="#402650"/>
                <rect x="7" width="3" height="14" rx="1" fill="#402650"/>
            </svg>
        {% when 'down-arrow' %}
            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6.5 6.5L12 1" stroke="#402650" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        {% when 'outbound-link-arrow' %}
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 1L1 17M17 1H5.5M17 1V12.5" stroke="#402650" stroke-width="1.5"/>
            </svg>
        {% when 'edit' %}
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.28496 10.2885L1.23023 14.1558C1.12843 14.5291 1.47092 14.8716 1.84417 14.7698L5.71153 13.715C5.87943 13.6692 6.03247 13.5804 6.15552 13.4574L14.2929 5.32001C14.6834 4.92949 14.6834 4.29632 14.2929 3.9058L12.0942 1.70711C11.7037 1.31658 11.0705 1.31658 10.68 1.70711L2.54262 9.84448C2.41957 9.96753 2.33075 10.1206 2.28496 10.2885Z" stroke="#F44C7F" stroke-linejoin="round"/>
            </svg>
        {% when 'delete' %}
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_5442_23565)">
                    <path d="M6.99859 0.55957C3.4452 0.55957 0.558594 3.44617 0.558594 6.99957C0.558594 10.553 3.4452 13.4396 6.99859 13.4396C10.552 13.4396 13.4386 10.553 13.4386 6.99957C13.4386 3.44617 10.552 0.55957 6.99859 0.55957ZM6.99859 1.11957C10.2493 1.11957 12.8786 3.74882 12.8786 6.99957C12.8786 10.2503 10.2493 12.8796 6.99859 12.8796C3.74784 12.8796 1.11859 10.2503 1.11859 6.99957C1.11859 3.74882 3.74784 1.11957 6.99859 1.11957ZM3.63859 6.71957V7.27957H10.3586V6.71957H3.63859Z" fill="#402650"/>
                </g>
                <defs>
                    <clipPath id="clip0_5442_23565">
                        <rect width="14" height="14" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        {% when 'logout' %}
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 5V2C11 1.44772 10.5523 1 10 1H2C1.44772 1 1 1.44772 1 2V15C1 15.5523 1.44772 16 2 16H10C10.5523 16 11 15.5523 11 15V11.5" stroke="#402650"/>
                <path d="M7.5 8C7.22386 8 7 8.22386 7 8.5C7 8.77614 7.22386 9 7.5 9V8ZM15.5 8.5L15.8904 8.81235C16.0365 8.62974 16.0365 8.37026 15.8904 8.18765L15.5 8.5ZM7.5 9H15.5V8H7.5V9ZM15.8904 8.18765L13.8904 5.68765L13.1096 6.31235L15.1096 8.81235L15.8904 8.18765ZM15.1096 8.18765L13.1096 10.6877L13.8904 11.3123L15.8904 8.81235L15.1096 8.18765Z" fill="#402650"/>
            </svg>
        {% when 'right-arrow' %}
            <svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 1L9 9.5L0.5 18" stroke="#402650"/>
            </svg>
        {% when 'left-arrow' %}
            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 1L1 10L10 19" stroke="#402650"/>
            </svg>
        {% when 'discount' %}
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.826723 8.84711C0.373532 9.3003 0.373532 10.0474 0.826723 10.5006L6.88936 16.5632C7.34255 17.0164 8.08961 17.0164 8.5428 16.5632L16.6647 8.44128C17.0103 8.09573 17.2148 7.63286 17.2342 7.14414L17.2352 7.12154L16.8757 1.65741L16.8768 1.68217C16.8768 1.0406 16.3493 0.513135 15.7077 0.513134L15.7336 0.513134L10.2684 0.154672L10.2458 0.155749C9.75813 0.176202 9.29418 0.379652 8.94863 0.725197L0.826723 8.84711ZM1.37787 9.39825L9.49978 1.27635C9.70646 1.06967 9.98311 0.950178 10.2738 0.935107L15.6948 1.29249L15.7077 1.29249C15.9273 1.29249 16.0974 1.46257 16.0974 1.68217V1.69509L16.4537 7.11508C16.4397 7.4068 16.3202 7.68345 16.1136 7.89013L7.99166 16.012C7.83664 16.167 7.59552 16.167 7.44051 16.012L1.37787 9.9494C1.22178 9.79332 1.22178 9.55434 1.37787 9.39825ZM12.4008 2.78447C11.7948 3.39052 11.7948 4.38302 12.4008 4.98906C13.0069 5.59511 13.9994 5.59511 14.6054 4.98906C15.2115 4.38302 15.2115 3.39052 14.6054 2.78447C13.9994 2.17842 13.0069 2.17842 12.4008 2.78447ZM12.952 3.33562C13.2599 3.02775 13.7464 3.02775 14.0543 3.33562C14.3622 3.64349 14.3622 4.13005 14.0543 4.43792C13.7464 4.74578 13.2599 4.74578 12.952 4.43792C12.6441 4.13005 12.6441 3.64349 12.952 3.33562Z" fill="#F44C7F"/>
            </svg>
        {% when 'minus' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <line x1="1" y1="8.12891" x2="15" y2="8.12891" stroke="#402650" stroke-width="2" stroke-linecap="square"/>
            </svg>
        {% when 'button-arrow-right' %}
            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="Line 67" d="M24.7071 8.70711C25.0976 8.31658 25.0976 7.68342 24.7071 7.29289L18.3431 0.928932C17.9526 0.538408 17.3195 0.538408 16.9289 0.928932C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM0 9H24V7H0V9Z" fill="white"/>
            </svg>
        {% when 'button-arrow-left' %}
            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="Line 67" d="M0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM25 9H1V7H25V9Z" fill="white"/>
            </svg>
        {% when 'checkmark-thin' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                <path d="M1 5.5L4.27794 9.7145C4.38527 9.85249 4.59745 9.84054 4.6886 9.69138L10 1" stroke="#402650" stroke-linecap="round"/>
            </svg>
        {% when '5-stars' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="99" height="17" viewBox="0 0 99 17" fill="{{color | default: '#402650'}}">
                <path d="M8.65868 0.719513C8.7342 0.490627 9.05797 0.490627 9.1335 0.719512L10.9395 6.193C10.9733 6.29545 11.069 6.36466 11.1769 6.36466H17.0131C17.2562 6.36466 17.3563 6.67653 17.1586 6.81798L12.4437 10.1912C12.3547 10.2549 12.3174 10.369 12.3517 10.4729L14.1542 15.9356C14.23 16.1653 13.968 16.358 13.7713 16.2173L9.04155 12.8334C8.95456 12.7712 8.83761 12.7712 8.75062 12.8334L4.02085 16.2173C3.82417 16.358 3.5622 16.1653 3.63797 15.9356L5.44046 10.4729C5.47474 10.369 5.43749 10.2549 5.34851 10.1912L0.633621 6.81798C0.435902 6.67653 0.535976 6.36466 0.779088 6.36466H6.61524C6.72312 6.36466 6.81884 6.29545 6.85265 6.193L8.65868 0.719513Z" fill="currentColor"/>
                <path d="M48.9868 0.719513C49.0623 0.490627 49.3861 0.490627 49.4616 0.719512L51.2677 6.193C51.3015 6.29545 51.3972 6.36466 51.5051 6.36466H57.3412C57.5843 6.36466 57.6844 6.67653 57.4867 6.81798L52.7718 10.1912C52.6828 10.2549 52.6456 10.369 52.6798 10.4729L54.4823 15.9356C54.5581 16.1653 54.2961 16.358 54.0995 16.2173L49.3697 12.8334C49.2827 12.7712 49.1657 12.7712 49.0787 12.8334L44.349 16.2173C44.1523 16.358 43.8903 16.1653 43.9661 15.9356L45.7686 10.4729C45.8029 10.369 45.7656 10.2549 45.6766 10.1912L40.9617 6.81798C40.764 6.67653 40.8641 6.36466 41.1072 6.36466H46.9434C47.0512 6.36466 47.147 6.29545 47.1808 6.193L48.9868 0.719513Z" fill="currentColor"/>
                <path d="M28.8247 0.719513C28.9002 0.490627 29.224 0.490627 29.2995 0.719512L31.1055 6.193C31.1393 6.29545 31.2351 6.36466 31.343 6.36466H37.1791C37.4222 6.36466 37.5223 6.67653 37.3246 6.81798L32.6097 10.1912C32.5207 10.2549 32.4835 10.369 32.5177 10.4729L34.3202 15.9356C34.396 16.1653 34.134 16.358 33.9373 16.2173L29.2076 12.8334C29.1206 12.7712 29.0036 12.7712 28.9166 12.8334L24.1869 16.2173C23.9902 16.358 23.7282 16.1653 23.804 15.9356L25.6065 10.4729C25.6408 10.369 25.6035 10.2549 25.5145 10.1912L20.7996 6.81798C20.6019 6.67653 20.702 6.36466 20.9451 6.36466H26.7813C26.8891 6.36466 26.9849 6.29545 27.0187 6.193L28.8247 0.719513Z" fill="currentColor"/>
                <path d="M69.1528 0.719513C69.2283 0.490627 69.5521 0.490627 69.6276 0.719512L71.4337 6.193C71.4675 6.29545 71.5632 6.36466 71.6711 6.36466H77.5072C77.7503 6.36466 77.8504 6.67653 77.6527 6.81798L72.9378 10.1912C72.8488 10.2549 72.8116 10.369 72.8459 10.4729L74.6483 15.9356C74.7241 16.1653 74.4621 16.358 74.2655 16.2173L69.5357 12.8334C69.4487 12.7712 69.3318 12.7712 69.2448 12.8334L64.515 16.2173C64.3183 16.358 64.0563 16.1653 64.1321 15.9356L65.9346 10.4729C65.9689 10.369 65.9316 10.2549 65.8427 10.1912L61.1278 6.81798C60.93 6.67653 61.0301 6.36466 61.2732 6.36466H67.1094C67.2173 6.36466 67.313 6.29545 67.3468 6.193L69.1528 0.719513Z" fill="currentColor"/>
                <path d="M89.3169 0.719513C89.3924 0.490627 89.7162 0.490627 89.7917 0.719512L91.5977 6.193C91.6315 6.29545 91.7273 6.36466 91.8351 6.36466H97.6713C97.9144 6.36466 98.0145 6.67653 97.8168 6.81798L93.1019 10.1912C93.0129 10.2549 92.9756 10.369 93.0099 10.4729L94.8124 15.9356C94.8882 16.1653 94.6262 16.358 94.4295 16.2173L89.6998 12.8334C89.6128 12.7712 89.4958 12.7712 89.4088 12.8334L84.6791 16.2173C84.4824 16.358 84.2204 16.1653 84.2962 15.9356L86.0987 10.4729C86.1329 10.369 86.0957 10.2549 86.0067 10.1912L81.2918 6.81798C81.0941 6.67653 81.1942 6.36466 81.4373 6.36466H87.2734C87.3813 6.36466 87.477 6.29545 87.5109 6.193L89.3169 0.719513Z" fill="currentColor"/>
            </svg>
       {% when 'icon-spinner' %}
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-spinner" viewBox="0 0 20 20">
              <path d="M7.229 1.173a9.25 9.25 0 1 0 11.655 11.412 1.25 1.25 0 1 0-2.4-.698 6.75 6.75 0 1 1-8.506-8.329 1.25 1.25 0 1 0-.75-2.385z" fill="#919EAB"/>
            </svg>
        {% when 'checkmark' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="11" viewBox="0 0 9 11" fill="none">
                <path d="M1.35352 5.5L3.58954 9L7.68892 1" stroke="#402650"/>
            </svg>
    {% endcase %}
</span>