{% schema %}
{
  "name": "About Story",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Section Title",
      "default": "<p>How it started</p>"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Text",
      "default": "<p>Sample story...</p>"
    }
  ],
  "presets": [
    {
      "name": "About Story"
    }
  ]
}
{% endschema %}

<div class="section flex flex-col items-center my-10 px-5 gap-10 w-full max-w-[1357px] mx-auto md:flex-row md:gap-10">
  <div class="section-content flex flex-col items-start w-full md:w-3/5">
    <h2 class="font-['FAIRE_Sprig'] text-[36px] relative z-10">
      {{ section.settings.title }}
      <div class="bottom-[-5px] left-0 h-[18px] mt-[-17px] bg-pink-highlight w-full"></div>
    </h2>
    <div class="pt-5 font-['Buenos_Aires'] text-[16px] md:text-[20px] space-y-4">
      {{ section.settings.body }}
    </div>
  </div>
  <div class="section-image-1">
    <img src="{{ section.settings.image | image_url }}" class="w-full h-auto max-w-[400px]" />
  </div>
</div>
