{% schema %}
{
  "name": "About Us Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Hero Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Hero Image (Mobile)"
    },
    {
      "type": "text",
      "id": "heading_desktop",
      "label": "Heading Text (Desktop)",
      "default": "Hormone-friendly · Highly absorbable · All Natural"
    },
     {
      "type": "richtext",
      "id": "heading_mobile",
      "label": "Heading Text (Mobile)",
      "default":"<p>Hormone-friendly <br>Highly absorbable  <br>All Natural</p>"
    },
  ],
  "presets": [{"name": "About Us Hero"}]
}
{% endschema %}

<style>
  .about-us-hero .about-us-section{
    position: relative;
    width: 100%;
    background-color: white;
  }
  .about-us-hero__heading-desktop {
    margin: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 84px;
    font-weight: 400;
    padding: 0px 10px;
    font-size: 47px;
    font-family: FAIRE Sprig;
    line-height: 1.1;
  }
  .about-us-hero__heading-mobile > * {
    margin: 0px;
    color: #1a1a1a;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.25;
    font-family: FAIRE Sprig;
  }
  .about-us-hero__heading-mobile {
    display: block;
    position: absolute;
    top: 40px;
    padding-left: 100px;
    padding-right:20px;
  }
  .about-us-hero-mobile {
      display: none;
  }
  @media(max-width:1279px){
    .about-us-hero__heading-desktop{
      font-size:40px;
    }
  }
  @media(max-width:1023px){
    .about-us-hero__heading-desktop{
      font-size:34px;
    }
  }
  @media (max-width: 767px) {
    .about-us-hero-desktop {
      display: none;
    }
    .about-us-hero-mobile {
      display: block;
    }
  }
  @media(max-width:639px){
    .about-us-hero__heading-mobile > * {
      font-size: 36px;
      padding-left:80px;
    }
    .about-us-hero__heading-mobile{
      padding-left:80px;
    }
  }
  @media(max-width:619px){
    .about-us-hero__heading-mobile{
      padding-left:20px;
    }
  }
</style>

<div class="about-us-hero">
  <div class="about-us-hero-desktop about-us-section">
    <h1 class="about-us-hero__heading-desktop">
      {{ section.settings.heading_desktop }}
    </h1>
    <img 
      src="{{ section.settings.desktop_image | image_url: width: 3000 }}" 
      width=""
      height=""
      alt="About Us Hero Image" 
      class="desktop-image" 
      style="width: 100%; display: block;"
    />
  </div>
  <div class="about-us-hero-mobile about-us-section">
    <div class="about-us-hero__heading-mobile">
      {{ section.settings.heading_mobile }}
    </div>
    <img 
      src="{{ section.settings.mobile_image | image_url: width: 1024 }}" 
      width=""
      height=""
      alt="About Us Hero Mobile Image" 
      class="mobile-image" 
      style="width: 100%; display: block;"
    />
  </div>
</div>
