<div class="every-stage-product--container">
  <div class="page-width">
    <div class="every-stage-head">
      {% if section.settings.title != blank %}
        <h2 class="every-stage-title">{{ section.settings.title }}</h2>
      {% endif %}
    
      {% if section.settings.subtitle != blank %}
        <p class="every-stage-subtitle">{{ section.settings.subtitle }}</p>
      {% endif %}
    </div>
    
    <div class="product-list-container">
      {% for block in section.blocks %}
        {% assign product = block.settings.product %}
        {% if product %}
          {% render 'hoverstyle-product-card', product: product, show_pricing_crossout: section.settings.show_pricing_crossout %}
        {% endif %}
      {% endfor %}
    </div>
  
    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <div class="view-all-button">
        <a href="{{ section.settings.button_link }}" class="btn btn-black">
            <span>{{ section.settings.button_label }}</span>
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Every Stage Products",
  "tag": "section",
  "class": "every-stage-products-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hormone support for every stage of womanhood."
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "From your first period to your first hot flash, nourish your journey."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "View All Products"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "show_pricing_crossout",
      "label": "Show pricing crossout",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Every Stage Products",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  .every-stage-head h2, .every-stage-head p {
    margin: 0px;
}

.every-stage-product--container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.every-stage-head {
    text-align: center;
    margin-bottom: 40px;
}
.every-stage-product--container .product-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
  
h2.every-stage-title {
    font-weight: 600;
    font-family: 'Buenos Aires';
}

.every-stage-head p {
    font-size: 22px;
    color: #402650;
    letter-spacing: 2.3px;
}
</style>
