{% stylesheet %}
.blog-hero-row {
  display:grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.blog-hero--title-wrapper h1 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 80px;
    line-height: 1.15;
}
.blog-hero--img-wrapper img {
    width: 100%;
    max-height: 427px;
    object-fit: contain;
    object-position: center;
}
@media(min-width:768px){
  .blog-hero--title-wrapper h1 {
     font-size: 80px;
  }
}
@media(min-width:992px){
  
}
  {% endstylesheet %}

<div class="blog-hero--wrapper" style="background: {{ section.settings.background }};">
  <div class="page-width">
    <div class="blog-hero-row">
      <div class="blog-hero--title-wrapper">
        <h1 class="blog-hero--title font-serif">{{ section.settings.title | escape }}</h1>
      </div>
      {% if section.settings.image != blank %}
        <div class="blog-hero--img-wrapper">
          <img
            src="{{ section.settings.image | image_url: width: 1500 }}"
            alt="{{ section.settings.title | escape }}"
            loading="lazy"
            width="auto"
            height="auto"
          >
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog Hero",
  "tag": "section",
  "class": "blog-hero-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Welcome to Our Blog"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background",
      "default": "linear-gradient(#ffffff, #000000)"
    }
  ],
  "presets": [
    {
      "name": "Blog Hero",
      "category": "Blog"
    }
  ]
}
{% endschema %}
