<div class="dp-banner" style="background-color: #ff59E4; text-align: center; padding: 10px 0;">
  <p style="margin: 0; color: #000000; font-family: 'Buenos Aires', sans-serif;">{{ section.settings.text }}</p>
</div>

{% schema %}
{
  "name": "DP Banner",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Banner Text",
      "default": "15% OFF subscriptions with no code needed"
    }
  ],
  "presets": [
    {
      "name": "DP Banner"
    }
  ]
}
{% endschema %}
