{% schema %}
{
  "name": "Features with icons",
  "settings": [],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Feature Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Feature Text",
          "default": "Third-party tested"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features with icons",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="features--row">
  {% for block in section.blocks %}
    <div class="feature-item">
      <img src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.text }}" width="" height="" />
      <span>{{ block.settings.text }}</span>
    </div>
  {% endfor %}
</div>
