{% schema %}
  {
    "name": "Features with icons",
    "settings": [],
    "presets": [{"name": "Features with icons"}]
  }
{% endschema %}

<div class="features--row">
 <div class="feature-item">
  <img src="" alt="" width="" height=""/>
   <span>Third-party tested</span>
 </div>
 <div class="feature-item">
  <img src="" alt="" width="" height=""/>
   <span>Backed by clinical research</span>
 </div>
   <div class="feature-item">
  <img src="" alt="" width="" height=""/>
   <span>Formulated in FDA-registered, GMP-certified facilities</span>
 </div>
</div>