{% schema %}
  {
    "name": "Section name",
    "tag":"section",
    "settings": []
  }
{% endschema %}

<div class="trusted-by-professionals=section">
  <div class="professionals-heading-block"> 
     <h2 class="font-serif">MixHers is trusted by health professionals</h2>
     <p>
       From OB/GYNs to nutritionists, experts recommend Mixhers for natural, effective hormone support.
     </p>
    <a href="" class="btn btn-black">Learn more</a>
  </div>
  <div class="health-professionals-block">
    <div class="prof-item">
      <img src="" width="" height="" alt=""/>
      <div class="prof-item-info">
         <h4>Name 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur. Dignissim turpis ut volutpat ante eu.</p>
      </div>
    </div>
    <div class="prof-item">
      <img src="" width="" height="" alt=""/>
      <div class="prof-item-info">
         <h4>Name 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur. Dignissim turpis ut volutpat ante eu.</p>
      </div>
    </div>
    <div class="prof-item">
      <img src="" width="" height="" alt=""/>
      <div class="prof-item-info">
         <h4>Name 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur. Dignissim turpis ut volutpat ante eu.</p>
      </div>
    </div>
  </div>
</div>