{% schema %}
{
  "name": "Image with text full",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image (Desktop)"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        {
          "label": "Left Side",
          "value": "left"
        },
        {
          "label": "Right Side",
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading_desktop",
      "label": "Heading Text (Desktop)",
      "default": "Hormone-friendly · Highly absorbable · All Natural"
    },
     {
      "type": "richtext",
      "id": "heading_mobile",
      "label": "Heading Text (Mobile)",
      "default":"<p>Hormone-friendly <br>Highly absorbable  <br>All Natural</p>"
    },
  ],
  "presets": [{"name": "Image(full height) with text "}]
}
{% endschema %}