{% schema %}
  {
  "name": "Retailers Section",
  "tag": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "Retailers Section"
    }
  ]
}
{% endschema %}
<style>
section.retailers-section .grid-auto-row {
    display: grid;
    grid-template-columns: 1060px auto;
    align-items: flex-end;
    gap: 30px;
}
.retailers-title-section {
  padding:48px 0px;
}
</style
<section class="retailers-section">
  <div class="retailers-title-section">
    <div class="page-width">
      <div class="grid-auto-row">
        <div class="">
          <h2 class="font-serif underline-title title-heading-2">We love our retailers</h2>
          <p>Mixhers can be found in-store at over 6,000 locations across the United States. Our wholesale partners range from small, local businesses to larger companies like CVS pharmacy.</p>
        </div>
        <button class="custom-primary-btn">Find a store near you</button>
      </div>
      </div>
  </div>
  <div class="credibility-retailers-slider">
     <div class="retailers-slider-wrapper">
      <div class="retailers--item">
          <img src="https://cdn.shopify.com/s/files/1/0557/9879/2371/files/rebrand_home_goods.avif?v=1722981597" width="" height="" alt="Partner 1" loading="lazy">
      </div>
       <div class="retailers--item">
          <img src="https://cdn.shopify.com/s/files/1/0557/9879/2371/files/rebrand_good_earth.avif?v=1722981597" width="" height="" alt="Partner 2" loading="lazy">
      </div>
      <div class="retailers--item">
          <img src="https://cdn.shopify.com/s/files/1/0557/9879/2371/files/rebrand_baby_cubby.avif?v=1722981597" width="" height="" alt="Partner 3" loading="lazy">
      </div>
      <div class="retailers--item">
          <img src="https://cdn.shopify.com/s/files/1/0557/9879/2371/files/rebrand_vitamin_bar.avif?v=1722981597" width="" height="" alt="Partner 4" loading="lazy">
      </div>
     </div>
  </div>
</section>