{% schema %}
{
  "name": "Rewards section",
  "tag": "section",
  "class": "rewards-section",
  "settings": [],
  "presets": [
    {
      "name": "test Rewards section"
    }
  ]
}
{% endschema %}
<div class="rewards">
<h3>REWARDS</H3>
<div class="yotpo-rewards-widgets page-width">
  <div class="yotpo-widget-instance" data-yotpo-instance-id="117916"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="117919"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="117918"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="117917"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="464920"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="117923"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="117921"></div>
</div>
</div>
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/pTDYG2YSJ8QcU9o0IQB0Ww" async></script>
<style>
.rewards-section {
  padding: 40px 0;
}

.yotpo-container-upload-receipt-action-tile .yotpo-file-button-style {
  border-radius: 40px;
}

.yotpo-container-upload-receipt-action-tile .yotpo-file-button-style .yotpo-file-select-textbox-text {
  color: #fff;
}

.yotpo-widget-campaign-widget-icon-container,
.yotpo-reward-steps-icon,
.yotpo-vip-tier-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
