{% assign overview_image = product.metafields.rebrand.overview_image.value | default: section.settings.overview_image %}
{% assign overview_title = product.metafields.rebrand.overview_title.value | default: section.settings.overview_title %}
{% assign overview_content = product.metafields.rebrand.overview_content | metafield_tag | default: section.settings.overview_content %}
{% assign overview_button = product.metafields.rebrand.overview_button.value | default: section.settings.overview_button %}

{% if overview_image and overview_title and overview_content %}
  <div class="product-overview-section">
    <div class="overview-container">
      <div class="overview-image">
        <img
          src="{{ overview_image | image_url }}"
          width="1000"
          height="1000"
          alt="Product Overview"
        >
      </div>
      <div class="overview-content">
        <h3 class="overview-title font-serif margin-t0">{{ overview_title }}</h3>
        <div class="overview-description base-text">{{ overview_content }}</div>
        <button class="pink-primary-btn hover-border" onclick="scrollToTop()">{{ overview_button }}</button>
      </div>
    </div>
  </div>

  <style>
    .product-overview-section {
      background-color: #f4f5fd;
      padding:24px 0px;
    }
    .overview-container {
      display: flex;
      flex-direction: column;
    }
    .overview-image img {
      width: 100%;
      object-fit: contain;
      max-height: 700px;
      height:auto;
    }
    .overview-container>div {
      width: 50%;
    }
    .overview-content {
      padding: 32px;
    }
    .overview-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0 auto;
    }
    .overview-title {
      font-size: 36px;
      line-height: 1.12;
      margin-bottom: 12px;
    }
     @media (min-width: 768px) {
      .overview-container {
        flex-direction: row-reverse;
        align-items: center;
        min-height:750px;
      }
      .overview-title {
        font-size: 54px;
      }
    }


  </style>

  <script>
    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "Product Overview Section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "overview_image",
      "label": "Fallback Overview Image"
    },
    {
      "type": "text",
      "id": "overview_title",
      "label": "Fallback Overview Title",
      "default": "Product Overview"
    },
    {
      "type": "richtext",
      "id": "overview_content",
      "label": "Fallback Overview Content",
      "default": "<p>This is a brief overview of the product.</p>"
    },
    {
      "type": "text",
      "id": "overview_button",
      "label": "Fallback Button Text",
      "default": "Shop now"
    }
  ],
  "presets": [
    {
      "name": "Product Overview"
    }
  ]
}
{% endschema %}