{% schema %}
{
  "name": "Standard Product Quote",
  "tag": "section",
  "class": "standard-product-quote",
  "settings": [],
  "presets": [
    {
      "name": "Standard Product Quote"
    }
  ]
}
{% endschema %}

{% assign quote_image_desktop = product.metafields.rebrand.quote_image_desktop.value %}
{% assign quote_image_mobile = product.metafields.rebrand.quote_image_mobile.value %}

{% if quote_image_desktop and quote_image_mobile %}
  <style>
    .standard-product-quote {
      width: 100%;
      padding: 0;
    }
    .standard-product-quote img {
      width: 100%;
      height: auto;
      display: block;
    }
    .quote-divider {
      border-top: 1px solid #000;
      margin-top: 40px;
    }
  </style>
  <section class="standard-product-quote" aria-label="Product Quote Section">
    <div class="quote-image-mobile only-small-screen">
      <img src="{{ quote_image_mobile | image_url }}" alt="Quote Image Mobile" width="" height="">
    </div>
    <div class="quote-image-desktop only-desktop">
      <img src="{{ quote_image_desktop | image_url }}" alt="Quote Image Desktop" width="2100" height="2100">
    </div>
    <div class="quote-divider"></div>
  </section>
{% endif %}
