{% schema %}
{
  "name": "Product Quiz Quote",
  "tag": "section",
  "class": "standard-product-mix-section",
  "settings": [],
  "presets": [
    {
      "name": "Standard Product Made to Mix Quiz Quote"
    }
  ]
}
{% endschema %}

{% assign mix_image = product.metafields.rebrand.mix_image.value %}
{% assign mix_color = product.metafields.rebrand.mix_color.value %}

{% if mix_image %}
  <style>
    .standard-product-mix {
      background-color: #f5f5f5;
      padding:32px 16px;
      gap:24px;
    }
    .mix-content-wrapper {
      max-width: 1400px;
      margin: 0 auto;
      display: grid;
      grid-template-columns:1fr;
      align-items: center;
      text-align: center;
    }
    .mix-heading {
      font-weight: 400;
      font-size:80px;
      margin-bottom:20px;
    }
    .mix-heading:after{
      background-color: {{ mix_color }};
      background: {{ mix_color }};
    }
     .mix-text{
      max-width: 650px;
       margin:0 auto;
     }
    .mix-text p {
      font-size:20px;
      color:#000;
      line-height: 1.2;
      margin-top:0px;
    }
    .mix-image {
      width: 100%;
      max-width: 500px;
      height: auto;
    }
    .mix-button{
      min-width:270px;
      margin-top:10px;
    }
    .mix-button:hover{
      background-color: #1a1a1a;
    }
    @media (min-width: 768px) {
     .standard-product-mix {
       padding:42px 16px;
     }
      .mix-content-wrapper {
        grid-template-columns:1fr 1fr;
      }
    }

  </style>

  <section class="standard-product-mix" aria-label="Made to Mix Section">
    <div class="mix-content-wrapper">
      <div class="mix-text-content">
        <h2 class="mix-heading underline-title font-serif ">Made to mix.</h2>
        <div class="mix-text">
          <p>Combine products and flavors in a tailored-to-you Mixhers mocktail.
            <br/>
          One sip double the benefits.</p>
        </div>
        <a href="/pages/quiz" class="mix-button custom-primary-btn hover-border f-18">Take the quiz</a>
      </div>
      <div class="mix-image-container">
        <img src="{{ mix_image | image_url }}" alt="Made to mix" class="mix-image" width="" height="">
      </div>
    </div>
  </section>
{% endif %}
