{% schema %}
{
  "name": "Store Locator Widget",
  "settings": [
    {
      "type": "number",
      "id": "max_width",
      "label": "Max Width (px)",
      "default": 800
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding (px)",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding (px)",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40
    }
  ]
}
{% endschema %}

<style>
  #store-locator-section {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .locator-wrapper {
    max-width: {{ section.settings.max_width }}px;
    margin: 0 auto;
  }
</style>

<section id="store-locator-section" >
  <div class="page-width ">
    <div class="locator-wrapper">
    <div data-stockist-widget-tag="u14951">Loading store locator from <a href="https://stockist.co">Stockist store locator</a>...</div>
    <script>
      // <![CDATA[
      (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
        k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
        })(document,'script','//stockist.co/embed/v1/widget.min.js');
      // ]]></script>
    </div>
  </div>
</section>