{% render 'shared-product-details', then_render: 'testing'',  product: product, %}
<div id ="hi">
  
  {{  product.recharge}}
</div>
{% schema %}
  {
    "name": "test",
    "settings": [],
    "presets":[
      {
        "name":"testing"
      }
    ]
  }
{% endschema %}