
{% assign product_title = product.metafields.rebrand.product_title.value | default: product.title %}
{% assign product_subtitle = product.metafields.rebrand.product_subtitle.value | default: '' %}
{% assign product_caption = product.metafields.rebrand.product_caption.value | default: '' %}
{% assign product_description = product.metafields.rebrand.product_description | metafield_tag | default: product.description %}
{% assign show_promo_badge_above_title = promo_content.show_promo_badge | default: false %}

<div class="product-info-main">
    <div class="standard-product-image">
      {% render 'standard-product-image-slider' %}
    </div>
    <div class="standard-product-info">
      {% if show_promo_badge_above_title %}
        <p>promo_badge</p>
      {% endif %}

      <h1>{{product_title}}</h1>
      <p>{{product_subtitle}}</p>
      <p>{{product_caption}}</p>
   </div>

{% render 'shared-product-details', then_render: 'testing'',  product: product, %}

<div id ="hi">
  
  {{  product.subscription  }}
</div>
{% schema %}
  {
    "name": "test",
    "settings": [],
    "presets":[
      {
        "name":"testing"
      }
    ]
  }
{% endschema %}


<style>
  .standard-product-info{
    padding:32px 32px 24px 32px;
  }
  @media(min-width:1024px){
      .product-info-main{
        display: grid;
        align-items: flex-start;
        grid-template-columns:1fr;
        max-width: 100%;
        padding-bottom: 35px;
        grid-template-columns: 5fr 7fr;
      }
      .standard-product-image{
        max-width: 100%;
        padding-top: 20px;
        padding-bottom:30px;
        position: sticky;
        top: 30px;
        order: 2;
      }

  }
</style>