{% render 'shared-product-details', then_render: 'testing'',  product: product, %}
<div id ="hi">
  
  {{  product.subscription  }}
</div>
{% schema %}
  {
    "name": "test",
    "settings": [],
    "presets":[
      {
        "name":"testing"
      }
    ]
  }
{% endschema %}
<style>
  .product-info-main{
    display:grid; 
    grid-template-columns:1fr 1fr;
    max-width:100%;
  }
  .standard-product-image{
    order:2;
    max-width:100%;
    overflow:hidden;
  }
  .standard-product-info{
    padding:32px;
  }
</style>