{% render 'shared-product-details', then_render: 'testing'',  product: product, %}
<div id ="hi">
  
  {{  product.subscription  }}
</div>
{% schema %}
  {
    "name": "test",
    "settings": [],
    "presets":[
      {
        "name":"testing"
      }
    ]
  }
{% endschema %}
<style>
  @media(min-width:1024px){
      .product-info-main{
        grid-template-columns: 5fr 7fr;
      }
      .standard-product-image{
        max-width: 100%;
        padding-top: 20px;
        padding-bottom:30px;
        position: sticky;
        top: 30px;
        order: 2;
      }

  }
  .product-info-main{
    display: grid;
    align-items: flex-start;
    grid-template-columns:1fr;
    max-width: 100%;
    padding-bottom: 35px;
  }

  .standard-product-info{
    padding:32px 32px 24px 32px;
  }
</style>