{% assign comparison_why_mixher = true %}

<div class="why-mixhers-container desktop-only">
  <h2>Why Mixhers?</h2>
  <p>We’ll let you decide.</p>
  
  <div class="product-comparison">
    <div class="product-column">
      <img src="{{ 'mixhers-hertime.png' | asset_url }}" alt="Mixhers Hertime PMS">
      <p>Mixhers<br>Hertime PMS</p>
    </div>
    <div class="product-column">
      <img src="{{ 'otc-pain-pills.png' | asset_url }}" alt="OTC Pain Pills">
      <p>OTC<br>Pain Pills</p>
    </div>
    <div class="product-column">
      <img src="{{ 'hormonal-birth-control.png' | asset_url }}" alt="Hormonal Birth Control">
      <p>Hormonal<br>Birth Control</p>
    </div>
  </div>

  <table class="comparison-table">
    <tr>
      <td>Addresses root cause of PMS for long-term relief</td>
      <td>✓</td><td></td><td></td>
    </tr>
    <tr>
      <td>Clinically studied chaste tree berry extract</td>
      <td>✓</td><td></td><td></td>
    </tr>
    <tr>
      <td>Hormone friendly</td>
      <td>✓</td><td></td><td></td>
    </tr>
    <tr>
      <td>Temporary relief from PMS symptoms</td>
      <td></td><td>✓</td><td></td>
    </tr>
    <tr>
      <td>Increased risk of blood clots + stroke</td>
      <td></td><td></td><td>✓</td>
    </tr>
  </table>
</div>

{% schema %}
  {
    "name": "Comparison Why Mixhers",
    "settings": [
      {
        "type":"color",
        "id":"background-color",
        "label":"Background Color",
        "default":"#F4F9FD"
      },
      {
        "type":"text",
        "id":"head",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"sub_head",
        "label":"Sub-Heading"
      },
      {
        "type":"image_picker",
        "id":"comparison_img1",
        "label":"Comparison Image1"
      },
      {
        "type":"text",
        "id":"comparison_txt1",
        "label": "Text 1"
      },
      {
        "type":"image_picker",
        "id":"comparison_img2",
        "label":"Comparison Image2"
      },
      {
        "type":"text",
        "id":"comparison_txt2",
        "label": "Text 2"
      },
      {
        "type":"image_picker",
        "id":"comparison_img3",
        "label":"Comparison Image3"
      },
      {
        "type":"text",
        "id":"comparison_txt3",
        "label": "Text 3"
      }
      
    ],
    "presets": [
      {
        "name": "Comparison Why Mixhers"
      }
    ]
  }
{% endschema %}