body {
  font-feature-settings: 'kern'; /* turns on kerning */
  text-rendering: optimizeLegibility; /* emphasise on legibility when rendering, turns on ligatures and kerning */
  -webkit-font-smoothing: antialiased; /* apply font anti-aliasing for Webkit on OSX */
  -moz-osx-font-smoothing: grayscale; /* apply font anti-aliasing for Firefox on OSX */
}

/* FAIRE Sprig (serif, headings) */
/* @font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-BlackItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
 */
@font-face {
  font-family: 'Faire Sprig';
  /* src: url('FAIRE-Sprig-Bold.otf') format('opentype'); */
  src: url('https://cdn.shopify.com/s/files/1/0557/9879/2371/files/FAIRE-Sprig-Bold.otf?v=1748606696') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

/* @font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-LightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
} */

@font-face {
  font-family: 'Faire Sprig';
  /* src: url('FAIRE-Sprig-Medium.otf') format('opentype'); */
  src: url('https://cdn.shopify.com/s/files/1/0557/9879/2371/files/FAIRE-Sprig-Medium.otf?v=1748607050') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
 */
@font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
} */

@font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

/* @font-face {
  font-family: 'Faire Sprig';
  src: url('FAIRE-Sprig-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
 */
/* Buenos Aires (sans, body) */
@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-BlackItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-BookItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-Book.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-LightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('https://cdn.shopify.com/s/files/1/0557/9879/2371/files/BuenosAiresWeb-RegularItalic.woff2?v=1749816204');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Buenos Aires';
  src: url('BuenosAiresWeb-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}



/* Legacy fonts for blog pages--------- */

@font-face {
    font-family: "Circular";
    src: url("Circular-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: auto;
    font-style: normal;
}
@font-face {
    font-family: "Circular";
    src: url("https://cdn.shopify.com/s/files/1/0557/9879/2371/files/Circular-Book.ttf?v=1749816003");
    font-weight: 400;
    font-display: auto;
    font-style: normal;
}
@font-face {
    font-family: "Circular";
    src: url("https://cdn.shopify.com/s/files/1/0557/9879/2371/files/Circular-Medium.ttf?v=1749815457");
    font-weight: 500;
    font-display: auto;
    font-style: normal;
}
@font-face {
    font-family: "Circular";
    src: url("https://cdn.shopify.com/s/files/1/0557/9879/2371/files/Circular-Bold.ttf?v=1749816003") ;
    font-weight: 700;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: "Suisse Works";
    src: url("SuisseWorks-RegularItalic.woff2") format("woff2");
    font-weight: 500;
    font-display: auto;
    font-style: italic;
}
@font-face {
    font-family: "Suisse Works";
    src: url("SuisseWorks-BookItalic.woff2") format("woff2");
    font-weight: 600;
    font-display: auto;
    font-style: italic;
}
/* @font-face {
    font-family: "Suisse Works";
    src: url("SuisseWorks-MediumItalic.woff2") format("woff2");
    font-weight: 700;
    font-display: auto;
    font-style: italic;
}
@font-face {
    font-family: "Suisse Works";
    src: url("SuisseWorks-BoldItalic.woff2") format("woff2");
    font-weight: 900;
    font-display: auto;
    font-style: italic;
}
 */

h1.blog-hero--title.font-serif {
   font-family: 'Circular';
   /* font-family: "Circular";
    font-family: 'Int Circular Book'; */
    font-weight: 500;
}