.quiz-main-container * {
    font-family: 'Buenos Aires';
}
.quiz-result-title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .04em;
    color: #1a1a1a;
    position: relative;
    max-width: 650px;
    margin: 0 auto 30px;
    text-align: center;
}

.quiz-results-header {
   display: none;
    text-align: left;
    padding-top: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 100%;
    margin: 80px auto;
}

.quiz-body {
    max-width: 800px;
    margin: 0 auto 2rem;
    font-size: 18px;
    text-align: center;
    letter-spacing: .12em;
    line-height: 2.23;
}

.oct-quiz-subheading {
    margin: 1rem auto 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.68;
    color: #1a1a1a;
    letter-spacing: .12em;
    max-width: 650px;
}
.quiz-main-container {
  display: block;
  width: 100%;
  max-width: 1450px;
  position: relative;
  padding: 20px 80px;
  margin: 0 auto 24px;
}

.oct-quiz-results-progress {
  display: none;
  height: 8px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 80px 0;
  position: absolute;
  top: 1rem;
  z-index: 1;
  transform: translateX(-50%);
  left: 50%;
  max-width: 1450px;
}
.oct-quiz-progress {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.oct-quiz-progress--bar-wrapper {
  position: relative;
  width: calc(100% - 36px);
  height: 17px;
}
.oct-quiz-progress--bar {
  height: 17px;
  position: absolute;
  border-radius: 8px;
}
.oct-quiz-progress--bar-top {
  background: #ff59e4;
  box-shadow: -4px 4px 0px 0px #dcd6df;
  width: 0%;
  transition: width 0.5s linear;
}
.oct-quiz-progress--bar-bottom {
  border: 1px solid #dcd6df;
  background: #fff;
  width: 100%;
}
.oct-quiz-progress--precent {
  width: 36px;
  font-size: 14px;
  text-align: right;
}
.loading-icon {
  margin: auto;
  display: block;
  width: 50px;
  position: absolute;
  top: 60vh;
  left: 48.5vw;
}
.results-back-btn {
    position: absolute;
    top: 0;
}
.results-back-btn, .results-nxt-btn {
    display: none;
    cursor: pointer;
}
.oct-quiz-progress--bar.oct-quiz-progress--bar-bottom {
    border: 1px solid #dcd6df;
    background: #fff;
    width: 100%;
    display: block;
}
.oct-quiz-progress--bar.oct-quiz-progress--bar-top {
    background: #ff59e4;
    box-shadow: -4px 4px #dcd6df;
    width: 0%;
    transition: width .5s linear;
    display: block;
}
.loading-icon .icon-spinner {
    animation: spin .5s infinite linear;
   width:24px;
}
.loading-icon .icon-spinner path{
    fill: #000;
}
.oct-quiz-multiple-choice-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oct-quiz-wrapper {
    justify-content: center;
    padding-top: 70px;
    align-items: flex-start;
    background: none;
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}
.oct-quiz-title {
    margin: 55px auto 0;
    line-height:1.28;
    letter-spacing: .04em;
    font-weight: 500;
    color: #1a1a1a;
}
.oct-quiz-btn.oct-quiz-btn--primary-text.oct-quiz-btn--small {
    left: 0px;
}
.oct-quiz-multiple-choice-wrapper ul:has(>:nth-child(4)) {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    margin: auto !important;
    min-width: 100%;
}
.oct-quiz-multiple-choice-options--stacked {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    width: 100%;
}

li.oct-quiz-multiple-choice-options__option {
    font-family: "Buenos Aires", sans-serif !important;
    border-radius: 64px !important;
    border: 1px solid black !important;
    min-height: 62px !important;
    max-height: 62px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0px!important;
}

.oct-quiz-multiple-choice-options__option:active, 
.oct-quiz-multiple-choice-options__option:hover, 
.oct-quiz-multiple-choice-options__option[data-is-option-selected=selected]{
    background-color: #1a1a1a !important;
}

.oct-quiz-multiple-choice-options__option:active div, .oct-quiz-multiple-choice-options__option:hover div, 
.oct-quiz-multiple-choice-options__option[data-is-option-selected=selected] div{
    color:#fff;
}

.oct-quiz-multiple-choice-wrapper ul:has(>:nth-child(4)) li:nth-last-child(1):nth-child(odd){
    grid-column: span 2;
    margin: 0 auto!important;
    max-width: 50%;
}
.oct-quiz-btn[title=back]:hover, .oct-quiz-btn[title=Skip]:hover {
    box-shadow: none !important;
}
.oct-quiz-email-wrapper input, .oct-quiz-phone-wrapper input {
    border: 1px solid #1a1a1a;
    height: 60px;
    padding: 20px 30px;
    letter-spacing:0.2rem;
}
.quiz-results-header.active-results {
    display: block;
}
.oct-quiz-progress-single, .oct-quiz-results-progress-single {
    margin: 0 2px;
    flex: 1;
    background-color: #ffd9f9;
    height: 8px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.oct-quiz-progress-single:first-child, .oct-quiz-results-progress-single:first-child {
    margin-left: 0;
}
.oct-quiz-progress-single:before, .oct-quiz-results-progress-single:before {
    content: "";
    width: 100%;
    height: 8px;
    background: #ff59e4;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    transition: transform .5s;
    transform: translate(-101%);
}
.oct-quiz-progress-single.active:before, .oct-quiz-results-progress-single.active:before {
    transform: translate(0);
}
div.oct-quiz-results-progress-single {
    display: block;
}
/* buttons ------------------------*/

button.oct-quiz-btn--primary:hover,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"]
  button[title*="Let’s get started!"]:hover,
.results-back-btn:hover,
.results-nxt-btn.active-results:hover {
  box-shadow: -4px 4px 0px #dcd6df;
  transform: none !important;
}

button.oct-quiz-btn--primary,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"]
  button[title*="Let’s get started!"],
.oct-quiz-btn[title="Next"]:disabled,
.oct-quiz-btn[title="Next"]:disabled:hover,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"]:disabled {
  background-color: #ff59e4 !important;
  border: 2px solid #ff59e4;
  color: #fff;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0);
}

.oct-quiz-btn[title="Next"]:disabled,
.oct-quiz-btn[title="Next"]:disabled:hover,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"]:disabled button,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"]:disabled
  button:hover,
button.oct-quiz-btn--primary:disabled:hover,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"] button:disabled,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"]
  button[title*="Let’s get started!"]:disabled {
  opacity: 0.5 !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0);
}

button.oct-quiz-btn--primary span {
  color: #fff;
}

button.oct-quiz-btn--primary .loading-indicator {
  border: 4px rgba(255, 255, 255, 0.25) solid;
  border-top: 4px white solid;
}

button.oct-quiz-btn--primary,
.oct-quiz-btn-wrapper[data-element*="oct-quiz-submit-btn"]
  button[title*="Let’s get started!"],
.outline-button {
      font-weight: 600;
  display: flex;
  flex-direction: row;
  letter-spacing: .12em !important;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  border-radius: 36px;
  transition: all 0.3s ease;
  cursor: pointer;
  min-width: 220px;
}
.oct-quiz-btn-wrapper {display: flex;justify-content: flex-end;}